<main>
  <style>
    button {
      margin-left: 30px;
      background: #3F3D56;
    }
    button > a {
      text-decoration: none;
      color: #fff;
    }

    button > a:hover {
      text-decoration: none;
      color: #fff;
    }

    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #bbb;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #000
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
    }

    .thumbnails {
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
    }
    .thumbnails li {
      float: left;
      width: 33%;
      position: relative;
      padding: 1px;
      min-height: 100px;
      background-color: #fff;
      border: 1px solid transparent;
      overflow: hidden;
    }
    .thumbnails li img {
      max-width: 100%;
      display: block;
      position: absolute;
      max-height: 100px;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    .inverted {
    	filter: invert(90%);
    }
  </style>
  <!-- {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <img class='{% cycle 'pull-left', 'pull-right' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %} -->

  <hr id="evento">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1531493657527-6d1af0c4c593?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/blogging.svg" width="550">
    <h2>Conoce <span>She++</span></h2>
    <div class='lead'>
      <p>She++ es un evento para mujeres jóvenes que busquen aprender e introducirse en el mundo del desarrollo tecnológico. Es un evento para compartir y empoderar a mujeres en dicho ámbito. <u>She++ se realizará el próximo sábado 14 de noviembre en un horario de 9:30 AM a 6 PM vía ZOOM.</u></p>
      <h3>En este programa buscamos:</h3>
      <ul>
        <li>Crear un espacio que fomente la inclusión en el desarrollo de tecnología.</li>
        <li>Compartir conocimientos sobre tecnologías en diferentes niveles, a través de 3 tracks con distintas tecnologías.</li>
      </ul>
    </div>
  </section>

  <hr id="programa">

  <section>
    <h2>Conoce el <span>programa</span></h2>
    <div class='lead'>
      <p>El programa consta de tres tracks de formación en distintas tecnologías, separados de acuerdo con el nivel de conocimientos.</p>

      <p>Puedes consultar el programa completo a continuación:</p>
      <br>
      <center>
        <div class="table-responsive">
          <table style="width: 90%; text-align: center;" class="table table-bordered">
          <tbody>
            <tr style="height: 36px;">
            <td style="height: 36px; border-color: #ffffff; background-color: #00BFA6; color: #ffffff;" colspan="4"><strong>PROGRAMA DEL EVENTO</strong></td>
            </tr>
            <tr style="height: 30px;">
            <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>HORA</strong></td>
            <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Principiante</strong></td>
            <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Intermedio</strong></td>
            <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Avanzado</strong></td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">09:30 - 10:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Apertura | Dinámica de integración 👩🏻</td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">10:00 - 11:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Charla inaugural</td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">11:00 - 13:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">&nbsp;<strong>Introducción a Matplotlib y Pandas</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Manejo de bases de datos</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">&nbsp;<strong>Metaheurísticas I</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">13:00 - 15:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">BREAK 🍕</td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">15:00 - 17:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Introducción a diccionarios</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>¿Es o no es? Introducción al aprendizaje automático</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Metaheurísticas II</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">TBA</span></td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">17:00 - 18:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Din&aacute;mica Social 👥</td>
            </tr>
            <tr style="height: 23px;">
            <td style="width: 10%; height: 23px; border-color: #00BFA6;">18:00</td>
            <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Cierre del evento 👋🏼</td>
            </tr>
          </tbody>
          </table>
          <!-- DivTable.com -->
        </div>
      </center>
    </div>
  </section>

  <hr id="registro">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1441015401724-70d16b783f5c?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/cloud.svg" width="450">
    <h2>Pre-registro <span>She++</span></h2>
    <div class='lead'>
      <p>¡Si tienes entre 16 y 29 años, este evento es para ti!</p>

      <br><h3>INSCRIPCIÓN<sup>*</sup>: $ 250.00 MXN</h3>
      <h4><sup>*</sup>Si te encuentras fuera de León, Gto. (MX) el precio del Kit es + envío.</h4><br>

      <p>Nuestro kit incluye:</p>
      <ul>
        <li>1 playera personalizada</li>
        <li>1 Cilindro</li>
        <li>1 Cubrebocas</li>
        <li>1 Pack de stickers y tu diploma</li>
      </ul>

      <h3>¡Participa, contamos sólo con 45 lugares!</h3>
      <br>
      <p>Este pre-registro nos servirá mucho para ubicarte en alguno de nuestros 3 tracks.</p>
      <button class="glow-on-hover" type="button">
        <a href="https://forms.gle/AtnB7zCzor3yTrGq9" target="_blank">PRE-REGISTRO</a>
      </button>

      <br><br><p>Una vez hayas llenado el pre-registro, te escribiremos para confirmar si has sido aceptada para formar parte de este programa intensivo de un día.</p>
    </div>
  </section>

  <hr id="aliadxs">

  <section>
    <h2>Aliadas y aliados <span>She++</span></h2>
    <div class='lead'>
      <h3>¡Gracias por hacer que <strong>She++</strong> sea posible!</h3>
      <br>
      <ul class="thumbnails">
        <li><img src="assets/img/gear.png" width="220"></li>
        <li><img src="assets/img/dci.png" height="130"></li>
        <li><img src="assets/img/futurelab.png" height="120"></li>
        <li><img src="assets/img/zonaei.png" class="inverted" width="100"></li>
        <li><img src="assets/img/pt100.png" class="inverted" width="100"></li>
        <li><img src="assets/img/ieegl.png" class="inverted" width="200"></li>
      </ul>
    </div>
  </section>

  <hr>

</main>
