<main>
  <style>
    button {
      margin-left: 30px;
      background: #3F3D56;
    }
    button > a {
      text-decoration: none;
      color: #fff;
    }

    button > a:hover {
      text-decoration: none;
      color: #fff;
    }

    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #bbb;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #000
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
    }

    .thumbnails {
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
    }
    .thumbnails li {
      float: left;
      width: 33%;
      position: relative;
      padding: 1px;
      min-height: 100px;
      background-color: #fff;
      border: 1px solid transparent;
      overflow: hidden;
    }
    .thumbnails li img {
      max-width: 100%;
      display: block;
      position: absolute;
      max-height: 100px;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    .inverted {
    	filter: invert(90%);
    }
  </style>
  <!-- {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <img class='{% cycle 'pull-left', 'pull-right' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %} -->

  <hr id="evento">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1531493657527-6d1af0c4c593?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/teamwork.svg" width="550" style="padding-top: 120px;">
    <h2>Conoce <span>She++</span></h2>
    <div class='lead'>
      <p>She++ es un evento para mujeres jóvenes que busquen aprender e introducirse en el mundo del desarrollo tecnológico. Es un evento para compartir y empoderar a mujeres en dicho ámbito. <u>She++ se realizará el próximo sábado 15 de mayo en un horario de 9:00 a 14:00 horas en México 🇲🇽 y de 15:00 a 21:00 horas en España 🇪🇸.</u></p>
      <h3>En este programa buscamos:</h3>
      <ul>
        <li>Crear un espacio que fomente la inclusión en el desarrollo de tecnología.</li>
        <li>Compartir conocimientos sobre tecnologías en diferentes niveles, a través de 3 tracks con distintas tecnologías.</li>
      </ul>
    </div>
  </section>

  <!-- <hr id="mentora">

  <section>
    <h2>Participa como <span>tallerista</span></h2>
    <div class='lead text-center'>
      <br>
      <h3>¿Te gustaría ayudarnos a formar a la siguiente generación de chicas? <br>¡Participa como tallerista!</h3>
      <br>
      <button class="glow-on-hover" type="button">
          <a href="https://forms.gle/QVdskDp53Aqbw5ni7" target="_blank">APLICA AQUÍ</a>
      </button>
    </div>
  </section> -->

  <hr id="programa">

  <section>
    <h2>Conoce el <span>programa</span></h2>
    <div class='lead'>
      <!-- En caso de no tener el programa, usar esta línea -->
      <!-- <center><br><h3 style="font-size: 1.75em;">¡El programa será anunciado próximamente!</h3></center> -->
      <!-- En caso de tener el programa, usar esta línea -->
      <!-- El programa se edita desde _includes/program.html -->
      {% include program.html %}
    </div>
  </section>

  <hr id="registro">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1441015401724-70d16b783f5c?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/worktime.svg" width="600" style="padding-top: 100px;">
    <h2>Pre-registro <span>She++</span></h2>
    <div class='lead'>
      <!-- En caso de no tener el pre-registro de participantes, usar esta línea -->
      <!-- <center><br><h3 style="font-size: 1.75em;">¡El pre-registro de participantes será abrirá pronto!</h3></center> -->
      <!-- En caso de tener el pre-registro, usar esta línea -->
      <!-- El pre-registro se edita desde _includes/preregister.html -->
      {% include preregister.html %}
    </div>
  </section>

  <hr id="aliadxs">

  <section>
    <h2>Aliadas y aliados <span>She++</span></h2>
    <div class='lead'>
      <h3>¡Gracias por hacer que <strong>She++</strong> sea posible!</h3>
      <br>
      <ul class="thumbnails">
        <li><img src="assets/img/gear.png" width="220"></li>
        <li><img src="assets/img/dci.png" height="130"></li>
        <li><img src="assets/img/futurelab.png" height="120"></li>
        <li><img src="assets/img/zonaei.png" class="inverted" width="100"></li>
        <li><img src="assets/img/pt100.png" class="inverted" width="100"></li>
        <li><img src="assets/img/ieegl.png" class="inverted" width="200"></li>
      </ul>
    </div>
  </section>

  <hr>

</main>
