<p>¡Si tienes entre 16 y 29 años, este evento es para ti!</p>

<br><h3>INSCRIPCIÓN<sup>*</sup>: $ 250.00 MXN</h3>
<h4><sup>*</sup>Si te encuentras fuera de León, Gto. (MX) el precio del Kit es + envío.</h4><br>

<p>Nuestro kit incluye:</p>
<ul>
    <li>1 playera personalizada</li>
    <li>1 Cilindro</li>
    <li>1 Cubrebocas</li>
    <li>1 Pack de stickers y tu diploma</li>
</ul>

<h3>¡Participa, contamos sólo con 45 lugares!</h3>
<br>
<p>Este registro nos servirá mucho para ubicarte en alguno de nuestros 3 tracks.</p>

<p> 
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" data-toggle="collapse" data-target="#collapseMX" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success btn-lg">Registro MX</button>
        <button type="button" data-toggle="collapse" data-target="#collapseES" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success btn-lg">Registro ES</button>
    </div>
</p>
<div class="collapse" id="collapseMX">
    <div class="card card-body">
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/UPH2brbPWZKEmxFn9" target="_blank">Kit Básico</a>
        </button>
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/F9BxK6hBoWYHWhqe7" target="_blank">Kit Completo</a>
        </button>
    </div>
</div>
<div class="collapse" id="collapseES">
    <div class="card card-body">
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/iugjG5PteR5CaG8m7" target="_blank">Kit Internacional</a>
        </button>
    </div>
</div>

<!-- <button class="glow-on-hover" type="button">
    <a href="https://forms.gle/AtnB7zCzor3yTrGq9" target="_blank">PRE-REGISTRO</a>
</button> -->

<br><br><p>Una vez hayas llenado el registro, te escribiremos para confirmar si has sido aceptada para formar parte de este programa intensivo de un día.</p>