<p>¡Este evento está abierto a todas las edades!</p>

<h3>¡Participa, contamos sólo con 60 lugares!</h3>
<br>
<p>Este registro nos servirá mucho para ubicarte en alguno de nuestros 3 tracks.</p>

<br>
<p> 
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" data-toggle="collapse" data-target="#collapseMX" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success btn-lg">Registro MX</button>
        <button type="button" data-toggle="collapse" data-target="#collapseES" aria-expanded="false" aria-controls="collapseExample" class="btn btn-success btn-lg">Registro ES</button>
    </div>
</p>
<div class="collapse" id="collapseMX">
    <div class="card card-body">
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/UPH2brbPWZKEmxFn9" target="_blank">Kit Básico</a>
        </button>
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/F9BxK6hBoWYHWhqe7" target="_blank">Kit Completo</a>
        </button>
    </div>
</div>
<div class="collapse" id="collapseES">
    <div class="card card-body">
        <button class="glow-on-hover" type="button">
            <a href="https://forms.gle/iugjG5PteR5CaG8m7" target="_blank">Kit Internacional</a>
        </button>
    </div>
</div>

<!-- <button class="glow-on-hover" type="button">
    <a href="https://forms.gle/AtnB7zCzor3yTrGq9" target="_blank">PRE-REGISTRO</a>
</button> -->

<br><p>Una vez hayas llenado el registro, te escribiremos para confirmar si has sido aceptada para formar parte de este programa intensivo de un día.</p>