<p>El programa consta de tres tracks de formación en distintas tecnologías, separados de acuerdo con el nivel de conocimientos.</p>

<p>Puedes consultar el programa completo a continuación:</p>
<br>
<center>
    <div class="table-responsive">
        <table style="width: 90%; text-align: center;" class="table table-bordered">
        <tbody>
        <tr style="height: 36px;">
        <td style="height: 36px; border-color: #ffffff; background-color: #00BFA6; color: #ffffff;" colspan="4"><strong>PROGRAMA DEL EVENTO</strong></td>
        </tr>
        <tr style="height: 30px;">
        <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>HORA</strong></td>
        <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Principiante</strong></td>
        <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Intermedio</strong></td>
        <td style="width: 10%; height: 30px; background-color: #00BFA6; border-color: #ffffff; color: #ffffff;"><strong>Track Avanzado</strong></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">09:30 - 10:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Apertura | Dinámica de integración 👩🏻</td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">10:00 - 11:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Charla inaugural<span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Gabriela García</span></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">11:00 - 13:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">&nbsp;<strong>Introducción a Matplotlib y Pandas</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Dra. Delia Irazú Hernández Farías</span></td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Manejo de bases de datos</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">M.F. Dulce M. Magdaleno Arroyo</span></td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">&nbsp;<strong>Metaheurísticas I</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">I.Q. América Y. Torres Boy</span></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">13:00 - 15:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">BREAK 🍕</td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">15:00 - 17:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Introducción a diccionarios</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">M.F. Atalia Navarro Boullosa</span></td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>¿Es o no es? Introducción al aprendizaje automático</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Dra. Delia Irazú Hernández Farías</span></td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;"><strong>Metaheurísticas II</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">I.Q. América Y. Torres Boy</span></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">17:00 - 18:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Din&aacute;mica Social 👥</td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: #00BFA6;">18:00</td>
        <td style="width: 10%; height: 23px; border-color: #00BFA6;" colspan="3">Cierre del evento 👋🏼</td>
        </tr>
        </tbody>
        </table>
    </div>
</center>