<p>El programa consta de tres tracks de formación en distintas tecnologías, separados de acuerdo con el nivel de conocimientos.</p>

<p>Puedes consultar el programa completo a continuación:</p>
<br>
<center>
    <div class="table-responsive">
        <table style="width: 90%; text-align: center;" class="table table-bordered">
        <tbody>
        <tr style="height: 36px;">
        <td style="height: 36px; border-color: #fff; background-color: rgb(179, 233, 199); color: #8367c7;" colspan="4"><strong>PROGRAMA DEL EVENTO</strong></td>
        </tr>
        <tr style="height: 30px;">
        <td style="width: 10%; height: 30px; background-color: rgb(179, 233, 199); border-color: #fff; color: #8367c7;"><strong>HORA</strong></td>
        <td style="width: 10%; height: 30px; background-color: rgb(179, 233, 199); border-color: #fff; color: #8367c7;"><strong>Track Principiante</strong></td>
        <td style="width: 10%; height: 30px; background-color: rgb(179, 233, 199); border-color: #fff; color: #8367c7;"><strong>Track Intermedio</strong></td>
        <td style="width: 10%; height: 30px; background-color: rgb(179, 233, 199); border-color: #fff; color: #8367c7;"><strong>Track Avanzado</strong></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">09:00 - 10:00</td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);" colspan="3">CHARLA INAUGURAL<br>"Informática != Programación: Lo que puedes hacer como Administradora de Sistemas y SRE" 👩🏻</td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">10:00 - 11:30</td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">&nbsp;<strong>Python 101</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Atalia Navarro Boullosa</span></td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);"><strong>Introducción a Arduino: Construlle un panic button</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Rocío Ballester</span></td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">&nbsp;<strong>Principios de automatización en Python utilizando la librería Selenium</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Estefanía Saucedo</span></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">11:30 - 12:00</td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);" colspan="3">RECESO 🍕</td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">12:00 - 13:30</td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">&nbsp;<strong>Métodos numéricos básicos</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Lourdes Bibiana Merino Solís</span></td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);"><strong>Simulaciones de fenómenos físicos</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Azul Rosales</span></td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">&nbsp;<strong>SVG animations: 102</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Thamara Gering</span></td>
        </tr>
        <tr style="height: 23px;">
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);">13:30 - 14:00</td>
        <td style="width: 10%; height: 23px; border-color: rgb(179, 233, 199);" colspan="3">CHARLA FINAL 🚀<br><span style="font-weight: 200; font-size: 0.8em;">Gisela balderas</span></td>
        </tr>
        </tbody>
        </table>
    </div>
</center>